:root {
  --ion-color-primary: #ff3838;
  --ion-color-primary-rgb: 255, 56, 56;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #e03131;
  --ion-color-primary-tint: #ff4c4c;
}